<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <div>
        <a href="/catalog">Catalog</a>
        <a href="/catalog/categories">Categories</a>
        <a href="/catalog/items">Items</a>
      </div>
      <div>
        <h1><%= item.name %></h1>
        <p>Description: <%= item.description %></p>
        <% categories.forEach(category => { %>
          <% if (item.category.name === category.name) { %>
          <p>Category: <a href=<%= category.url %>><%= category.name %></a></p>
          <% } %>
        <% }) %>
        <p>In Stock: <%= item.in_stock %></p>
        <img src=<%= item.img_url %> alt=<%= item.description %>>
        <div class="horizontal">
          <a href=<%= item.url+"/delete" %>>Delete</a>
          <a href=<%= item.url+"/update" %>>Update</a>
        </div>
      </div>
    </div>
  </body>
</html>
